/* app-quotes{
    background-image: url(https://i.pinimg.com/originals/56/9e/82/569e826d96f4934f654d944aa89cad3b.jpg);
} */
#mainbg{
    background-image: url(https://i.pinimg.com/originals/56/9e/82/569e826d96f4934f654d944aa89cad3b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;


}