.myQuote{
    padding: 20px;
    padding-left: 25%;
    
}

.container {
    /* text-align: center; */
    height: 1000px;
    color: black;
   padding-top: 2%;
    background-color: rgba(255, 255, 255, 0.74);
}
.container h1{
    text-align: center;
    
}