<!-- <div [style.background-image]="'url(https://static-cse.canva.com/blob/573253/10experttipsfordesigningwithablurredbackgroundfeaturedimage.jpg)'"> -->
<div class="container" >
    <h1>QUOTES</h1>
    <hr>
    <div class="row">
        
        <div>
            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
    

    </div>
    <div class="row">
        <div>  ..</div>
    </div>
    
    <div class="row">
        
        <div >
            <div class="myQuote" *ngFor='let quote of quotes; let i =index'>
                <div>
                    <h6 >{{quote.quote}} written on  {{quote.completeDate | date}}</h6>
                    <h6>Added by: {{quote.name}}</h6>
                    
                    <button (click)='toggleDetails(i)' class="btn btn-secondary">Toggle Details</button>
                </div>
            
                <div *ngIf="quote.showDescription">
                    <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
                    <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
                    <app-quotes-detail [quote] = "quote" (isComplete)="deleteQuote($event,i)"></app-quotes-detail>
                </div>
            </div>
                
        </div>
        

    </div>
</div>
<!-- </div> -->

    


